.dignity {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $die-color;
  text-transform: uppercase;
  padding: 3rem 1rem;
  width: 100%;

  @media (min-width: $tablet-width) {
    min-height: 256px;
    flex-basis: 256px;
    max-width: 400px;
    flex-shrink: 1;
    flex-grow: 1;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  @media (min-width: $desktop-width) {
    flex-basis: 400px;
  }
}

.dignity--slightly {
  background-color: $neutral-die-color;
}

.dignity__heading {
  text-align: center;
  min-height: fit-content;

  @include block-width($mobile-width, 260px);

  @media (min-width: $tablet-width) {
    min-width: 200px;
  }
  padding: 0.5rem;
}

.dignity__description {
  text-align: center;

  @include block-width($mobile-width, 260px);

  @media (min-width: $tablet-width) {
    min-width: 200px;
  }

  padding: 0.5rem;
}
